body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.content {
  max-width: 2048px;
  padding: 24px;
}

.form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
#file-input-copy {
  text-align: center;
}

.usa-button {
  width: 100%;
}

.usa-alert {
  display: none;
}

#deduplication-error-alert {
  display: block;
}

.loader {
  position: absolute;
  left: 42.5%;
  top: 40%;
  border: 16px solid #e6e6e6; /* .bg-gray-10 */
  border-top: 16px solid #73b3e7; /* .bg-primary-light */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
