html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Ubuntu, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, roboto, noto, arial, sans-serif;
}

html {
  min-height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.content {
  max-width: 1024px;
  width: 100%;
  padding: 0 6px;
  padding-top: 24px;
}

h1 {
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 18px;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.training-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
.training-row::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.training-record {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 24px 12px;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 240px;
}

.training-record:not(:last-child) {
  margin-right: 12px;
}

.training-field p {
  margin-bottom: 4px;
}

.training-field {
  margin-bottom: 12px;
}

input[type="file"] {
  display: block;
  margin-bottom: 18px;
}

input[type="submit"],
button[type="submit"],
a.action {
  display: inline-block;
  padding: 8px 16px;
  font-weight: bold;
  border: solid 2px transparent;
  border-radius: 0;
  font-size: 20px;
  width: 120px;
  background-color: #f1f1f1;
  color: #444;
}

a.action,
input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="submit"]:hover,
button[type="submit"]:focus {
  border-color: #444;
}

input[type="submit"][name="same"] {
  background-color: #0a60c2;
  color: #fff;
}

input[type="submit"][name="different"] {
  background-color: #b2081d;
  color: #fff;
}

.training-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.preview-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.record-group {
  margin-bottom: 32px;
}
