{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>{{ slug }}</h1>
    <div class="download-details">
        <p>
            {{ count_groups }} groups of duplicates combining {{ count_matches }} records
        </p>
        <br>
        <p>
            <a href="/imports/{{ slug }}/download">
                Download
            </a>
        </p>
    </div>
    <br><br>
    {% for record_group in record_groups %}
        <div class="record-group">
            <h2>{{ record_group.0.given_name }} {{ record_group.0.family_name }}</h2>
            <div class="training-row">
            {% for record in record_group %}
                {% include "partials/training-record.html" %}
            {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
